.price {
    padding-top: 60px;
    &__wrapper {
        margin-top: 60px;
        padding: 0 50px 0 50px;
        display: grid;
        grid-template-columns: repeat(2, 366px);
        grid-template-rows: 162px;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        margin-bottom: 15px;
        padding-left: 25px;
        display: grid;
        grid-template-columns: 366px;
        grid-template-rows: repeat(2, minmax(21px, auto));
        &-header {
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
        }
        &-descr {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 15px;
            height: 15px;
            top: 3px;
            border-radius: 100%;
            background-color: $main-color;
        }
    }
}